# Database
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'viewflow',
        'USER': 'xxx',
        'PASSWORD': 'xxx',
        'HOST': '127.0.0.1',
        'PORT': '3306',
    }
}

# Time zone
TIME_ZONE = 'Asia/Shanghai'

# language code
LANGUAGE_CODE = 'zh-hans'
